<div class="espacio"></div>
<h3>Nueva venta</h3>
<div class="espacio-15"></div>
<div *ngIf="success; else mostrarForm">
    <div class="alert alert-success" role="alert">
        {{mensaje}}
    </div>
    <button class="btn btn-secondary" routerLink="/ventaProductos">Volver</button>
</div>
<ng-template #mostrarForm>
    <div class="form-group">
        ID
        <input type="text" disabled="true" class="form-control" [(ngModel)]="ventaProductos.cabecera.id"/><br />
    </div>
    <div class="form-group">
        Fecha
        <input type="datetime" disabled="true" class="form-control" [(ngModel)]="ventaProductos.cabecera.fecha"/><br />
    </div>
    <div class="form-group">
        Número factura
        <input type="string" disabled="true" class="form-control" [(ngModel)]="ventaProductos.cabecera.numeroFactura"/><br />
    </div>
    <div class="form-group">
        RUC del cliente
        <input type="text" class="form-control" [(ngModel)]="ruc"/><br />
        <input type="text" disabled="true" class="form-control" [(ngModel)]="ventaProductos.cabecera.cliente.nombreApellido"/><br />
    </div>
    <div class="form-group">
        <button (click)="obtenerCliente()" class="btn btn-primary">
            Obtener cliente
        </button>
    </div>
    <div class="espacio-15"></div>
    <div class="form-group">
        Total
        <input type="text" disabled="true" class="form-control" [(ngModel)]="ventaProductos.cabecera.total"/><br />
    </div>
    <div class="espacio"></div>
    <button (click)="generarVenta()" class="btn btn-primary">
        Generar Venta
    </button>
</ng-template>
<div class="espacio"></div>
<div *ngIf="warning" class="alert alert-warning" role="alert">
    {{mensaje}}
</div>

<router-outlet></router-outlet>
