<div class="espacio"></div>
<div class="d-flex" style="justify-content: space-between">
    <h3>Lista de detalles</h3>
</div>

<div class="d-flex flex-column flex-md-row align-items-md-center" style="gap: 20px; padding: 10px;">
  <div class="d-flex">
    <div style="width: 8rem;">
      Desde:<span style="margin-left: 5px;"></span> {{formatFecha(range.value.start)}}<br>
      Hasta:<span style="margin-left: 5px;"></span> {{formatFecha(range.value.end)}}
    </div>
    <div style="width: 3rem; margin-top: -1.2rem;">
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" class="hidden">
        <input matStartDate formControlName="start" class="hidden">
        <input matEndDate formControlName="end" class="hidden">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker class="hidden"></mat-date-range-picker>
    </div>
  </div>
  <div class="form-group">
    <label for="cliente">Producto:</label>
    <input style="margin-left: 5px;" id="cliente" type="text" [(ngModel)]="nombreProducto">
  </div>
  <div class="d-flex" style="gap: 10px;">
    <button (click)="filtrar()" mat-mini-fab color="primary" class="mat-elevation-z0" aria-label="Filtrar">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button (click)="clear()" mat-mini-fab color="accent" class="mat-elevation-z0" aria-label="Limpiar filtro">
      <mat-icon>replay</mat-icon>
    </button>
  </div>  
  <!-- <button class="btn btn-secondary" (click)="filtrar()">Aplicar</button>
  <button class="btn btn-secondary" (click)="clear()">Limpiar</button> -->
</div>

<div class="espacio"></div>
<div *ngIf="listaDetalles.length > 0; else elseBlock">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="column">Cantidad</th>
            <th scope="column">Producto</th>
            <th scope="column">Total Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of listaDetalles">
            <th scope="row">{{ detalle.cantidad  }}</th>
            <td>{{ detalle.producto.nombre }}</td>
            <td class="guaranies">{{ formatearNumero(detalle.totalDetalle) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="espacio"></div>
    <div class="sinData">
      <p class="letterBig">Sin datos</p>
    </div>
  </ng-template>
  
  <router-outlet></router-outlet>