.espacio{
    height: 30px;
}
.espacio-15{
    height: 15px;
}

.guaranies:before{
    content: '₲ ';
}

.hidden{
    visibility: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
