.espacio{
    height: 30px;
}
.espacio-15{
    height: 15px;
}

.guaranies:before{
    content: '₲ ';
}

.hidden{
    visibility: hidden;
}

.sinData{
    display: flex;
  justify-content: center;
  align-items: center;
}

.letterBig{
  font-size: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
